.hero-image{
    background: url("./Chess img/download.jpg") ;
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    color:whitesmoke
    position: absolute;
    text-align: center;
    top: 180px;
    width: 100%;
    font-size: 4rem;
}