.hero-image{
    background: url("./Chess img/download.jpg") ;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    color:whitesmoke
    position:absolute;
    text-align: center;
    top: 280px;
    width: 100%;
    font-size: 6rem;
}

.four-column .image img {
    width: 15%;
    height: 100%;
    object-fit: cover;
  }
  
  .four-column .image {
    /* Set a fixed height for the container */
    height: 300px; 
  }
  
